body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

#sns {
	background-image: url(../img/congruent_pentagon.png);
	padding: 20px;
	padding-bottom: 80px;
}

#sns p {
	font-weight: bold;
	text-transform: uppercase;
	background-color: #fefbf0;
	padding: 10px 25px;
	width: 100px;
	border-radius: 13px;
	text-align: center;
	margin-top: 0;
	float: right;
	color: #333333;
}

#sns p:hover {
	background-color: #333333;
	color: #fefbf0;
}

#icons {
	width: 800px;
	float: left;
}

#icons i {
	color: #6174c0;
	font-size: 20px;
	margin-right: 7px;
}

#icons i:hover {
	color: #8bbdc1;
}

#booknow {
	width: 300px;
	float: right;
	margin-right: 15px;
}

nav ul a {
	text-decoration: none;
	color: #333333;
}

nav ul a:hover {
	text-decoration: underline;
}

nav ul {
	list-style: none;
	margin-top: 20px;
	padding-left: 0;
}

nav li {
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}

#menu {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
	position: relative;
	top: -60px;
	margin-bottom: -60px;	
}

.sub-menu {
	display: none;
	position: absolute;
	background-color: #b1f6cd;
	min-width: 130px;
	z-index: 1;
	padding: 12px 5px;
	margin-top: 0;
	left: 170px;
}

.sub-menu li {
	display: block;
	margin-bottom: 6px;
	margin-top: 6px;
}

.sub-menu a {
	display: inline-block;
}

#team:hover .sub-menu {
	display: block;
}

#gallery:hover .sub-menu {
	display: block;
}

.sub-menu:hover  {
	display: block !important;
}

.sub-menu-two {
	display: none;
	position: absolute;
	background-color: #b1f6cd;
	min-width: 130px;
	z-index: 1;
	padding: 12px 5px;
	margin-top: 0;
	left: 400px;
}

.sub-menu-two li {
	display: block;
	margin-bottom: 6px;
	margin-top: 6px;
}

.sub-menu-two a {
	display: inline-block;
}

#team:hover .sub-menu-two {
	display: block;
}

#gallery:hover .sub-menu-two {
	display: block;
}

.sub-menu-two:hover  {
	display: block !important;
}


#home img {
	width: 100%;
	margin-top: 20px;	
}

.main {
	width: 100%;
}


footer {
	width: 500px;
	margin: 0 auto;
	font-size: 12px;
	margin-top: 60px;
	margin-bottom: 40px;
}

footer p {
	text-align: center;
}

footer a {
	color: #435aaa;
	font-size: larger;
	text-decoration: none;
	text-align: center;
	
}

footer ul {
	list-style: none;
	width: 400px;
	text-align: center;
	padding-left: 0;
	margin: 0 auto;

}

footer li {
	display: inline-block;
	margin: 5px 20px; 
}

/*about team page*/

#about {
	text-align: center;
	}

.about-para {
	width: 600px;
	margin: 40px auto 60px auto;
}

.about-para p {
	margin-top: 20px;
	margin-bottom: 20px;
}

hr {
	width: 1500px;
	margin: 30px auto;
	margin-top: 50px;
}

.about-btn {
	width: 1500px;
	margin: 0 auto;
}

.crew-btn {
	border: 1px solid #333333;
	padding: 20px 0;
	border-radius: 10px;
	margin: 10px 20px;
	font-size: 14px;
	cursor: pointer;
	width: 10%;
	display: inline-block;

}	

.crew-btn a {
	text-decoration: none;
	color: black;
 	
 }

.crew-btn:hover {
	background-color: #abbcf8;
}

/* pop-up */
.overlay {
	position: fixed;
	left: 650px;
	top: 100px;
	transition: opacity 500ms;
	display: none;
	opacity: 0;
}

.overlay:target {
	display: block;
	opacity: 1;
}

.popup {
	position: relative;
	background: #ededed;
	transition: all 5s ease-in-out;
	width: 600px;
	padding: 40px;
	text-align: center;
	border-radius: 10px;
	
}

.close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.close:hover {
	color: orange;
}

.popup p {
	width: 450px;
	margin: 0 auto;
}

.popup-photo {
	width: 400px;
	height: 250px;
}


/*finish*/


#tourprice div {
	width: 20%;
	display: inline-block;
}

#tourprice div img {
	width: 85%;
	height: 85%;
	position: relative;
}

#tourprice {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#tourprice h2 {
	margin-bottom: 2px;
	margin-top: 35px;
}

#indicatebooking {
	text-decoration: none;
	font-size: larger;
}

#tourprice .text-content {
	display: none;
}

#tourprice div:hover .text-content {
	display: block;
	position: absolute;
	left: 4px;
	width: 100%;
	top: 95px;
}

#tourprice div {
	position: relative;
}

#tourprice div:hover img {
	opacity: .5;
}


/*Photo gallery*/

#photo {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#whole-gallery img {
	margin: 20px;
	width: 400px;
	height: 250px;
}



/* Video gallery*/
#video {
	width: 100%;
}

.video-link {
	width: 1500px;
	margin: 0 auto;
	text-align: center;
}

.video-link iframe {
	margin: 20px;
}

/*Booking Page*/
#book {
	width: 800px;
	margin: 0 auto;
	background-color: #d7f9e1;
	border-radius: 20px;
	padding: 20px;
}

#book div {
	margin: 10px;
}

.choose div {
	margin-left: 0 !important;
}

#book form {
	margin-left: 30px;
}

#book h2 {
	text-align: center;
}

#registration input {
	border: none;
	border-bottom: 1px solid #aaaaaa;
	margin-left: 5px;
	background: none;
}

#email {
	width: 250px;
}

#datetime {
	width: 70px;
}

#registration input[type="text"] {
    font-family: 'Lato', sans-serif;
    color: #555555;
    font-size: 20px;
}

#registration span {
	font-size: 14px;
	margin-left: 10px;
	color: purple;
}

#submit-btn {
	padding: 10px 40px;
	font-family: 'Lato', sans-serif;
	border-radius: 7px;
	background-color: #dbdcfd !important;
	font-weight: bold;
	cursor: pointer;
	margin-left: 300px !important;
}

#submit-btn:hover {
	background-color: #435aaa;
	color: green;
}

.choose div {
	display: inline-block;
	margin: 0 10px;
}

.choose div p {
	margin-top: 0;
	margin-bottom: 0;
}

#registration textarea {
	width: 300px;
	height: 50px;
} 

#registration label {
	margin-right: 10px;
}

/* Contact Us */
#map1 {
	width: 600px;
	height: 400px;
	margin: 0 auto;
}

#map2 {
	width: 600px;
	height: 400px;
	margin: 0 auto;
}

#contact-us {
	text-align: center;
}










